@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body{
	list-style: none;
    background-color: #FFFFFF;
}

.wrap{
	width: 960px;	
	margin-left: auto;margin-right: auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
h1 a{
    text-decoration: none;
	color: #FFFFFF;
}

h1 a:hover{
	background-color:#A8662B;
	transition: 0.2s;
}

.item a{
    text-decoration: none;
    color: #000000;
}

.download{
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
}

/*...header...*/

.rogo{
	width: 150px;height: 85px;
    float: left;
    padding-left: 15px;
}
nav h1 a{
	background-color: #ee8f3a;
	float: right;
    text-align: center; 
    text-decoration: none;
	padding: 30px;
}

nav{
	width: 100%;
	background-color: #000000;
	position: fixed;
	top: 0;
	z-index: 1;
}

.nav_container{
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

/*...main...*/

.top-top{
	margin-bottom: 60px;
}

.main_image{
	width: 960px; height: 722px;
	background-image: url("images/main.jpg");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 85px;
}

h2{
    margin: 0;
    height: 123px;line-height: 123px;
    background-color: #ea8f15;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
}

.running_image{
	width: 960px; height: 708px;
	background-image: url("images/copy_image.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.top{
    background-color: #3c65af;
}

/*---merit---*/
.merit{
	background-color: #3c65af;
	height: 2100px;
	padding-top: 115px;
}

.merit_1{
	width:959px; height: 564px; 
	background-image: url("images/merit_1.png");
	background-repeat: no-repeat;
	margin-bottom: 145px;
}

.merit_2{
	width:960px; height: 565px; 
	background-image: url("images/merit_2.png");
	background-repeat: no-repeat;
	margin-bottom: 145px;
}

.merit_3{
	width:960px; height: 567px; 
	background-image: url("images/merit_3.png");
	background-repeat: no-repeat;
}

.description{
	width: 333px;
	font-size: 12px;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 70px;
	margin-left: auto;margin-right: auto;
}

h3{
	font-size: 40px;
	margin-bottom: 30px;
}

/*...footer...*/
footer{
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	height: 160px;
    line-height: 160px;
}
small{
	font-size: 18px;
}
